.modal {
    background: #c6d0ff7a;
}

.form-check {
    padding-left: 0;
}

/* Stylowanie obrazka */
.logo {
    vertical-align: middle; /* Wyśrodkowanie obrazka w pionie */
    height: 20px; /* Ustawienie wysokości obrazka */
}
